@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800;900&display=swap");
.menu__list .menu__item:last-child .menu__link:last-child, .header__list .header__item:last-child .header__link:last-child, .hero__btn, .about__delete, .about__copy, .about__btn, .boost__btn {
  text-decoration: none;
  color: #fff;
  background-color: #2acfcf;
  font-weight: 600;
  padding: 1rem 3rem;
  border-radius: 50px;
  transition: background-color 0.2s;
  letter-spacing: 1px; }
  .menu__list .menu__item:last-child .menu__link:hover:last-child, .header__list .header__item:last-child .header__link:hover:last-child, .hero__btn:hover, .about__delete:hover, .about__copy:hover, .about__btn:hover, .boost__btn:hover {
    background-color: #7ce4e4; }

.hero__paragraph, .about__subheading {
  color: #9e9aa7;
  font-size: 1.5rem;
  line-height: 1.5;
  max-width: 41rem;
  margin: 0 auto; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media (min-width: 31.25em) {
    html {
      font-size: 68.75%; } }
  @media (min-width: 56.25em) {
    html {
      font-size: 75%; } }
  @media (min-width: 75em) {
    html {
      font-size: 81.25%; } }
  @media (min-width: 93.75em) {
    html {
      font-size: 87.5%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 93.75%; } }

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.5rem; }

main {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative; }

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #232127;
  line-height: 1.1; }

.heading-primary {
  font-size: 3.5rem; }

.heading-secondary {
  font-size: 2.5rem; }

.menu {
  transform: translateY(-110%);
  transition: transform 0.3s linear;
  position: absolute;
  top: 0;
  background-color: transparent;
  width: 100%;
  padding: 0 2.5rem;
  text-align: center; }
  .menu__list {
    list-style: none;
    background-color: #3b3054;
    padding: 3rem 2rem 3.5rem 2rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 2rem; }
  .menu__list .menu__item:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    padding-top: 2.25rem;
    border-top: 1px solid #555; }
  .menu__list .menu__item:last-child .menu__link:last-child {
    display: inline-block;
    padding: 1.25rem 7.8rem; }
  .menu__link:link, .menu__link:visited {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.4rem; }
  .menu__link:hover {
    color: #2acfcf; }

.menu.show-menu {
  transform: translateY(0); }

.header__btn.change-color {
  color: #aaa; }

.footer {
  background-color: #232127; }
  .footer__content {
    max-width: 100rem;
    margin: 0 auto;
    padding: 5rem 2.5rem;
    display: grid;
    justify-items: center;
    row-gap: 3.5rem;
    text-align: center; }
  .footer__logo {
    width: 10rem;
    display: block;
    margin-bottom: 1rem;
    cursor: pointer; }
  .footer__hdg {
    color: #fff;
    margin-bottom: 1.5rem;
    font-weight: 600;
    font-size: 1.2rem; }
  .footer__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.75rem; }
  .footer__list--socials {
    flex-direction: row;
    gap: 2rem; }
  .footer__social-img {
    display: block;
    width: 2.1rem;
    height: 2.1rem;
    color: #fff; }
    .footer__social-img:hover {
      color: #2acfcf; }
  .footer__link:link, .footer__link:visited {
    color: #bfbfbf;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem; }
  .footer__link:hover {
    color: #2acfcf; }
  @media (min-width: 56.25em) {
    .footer__content {
      grid-template-columns: 1fr repeat(4, minmax(min-content, 12rem));
      column-gap: 5rem;
      text-align: unset;
      justify-items: end; }
    .footer__logo {
      margin-bottom: 0; }
    .footer__figure {
      justify-self: start; } }
  @media (min-width: 68.75em) {
    .footer__content {
      column-gap: 7rem; } }

.header {
  padding: 2rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100rem;
  margin: 0 auto; }
  .header__logo {
    width: 10rem;
    display: block;
    cursor: pointer; }
  .header__nav {
    display: none; }
  .header__list {
    list-style: none;
    display: flex;
    gap: 2rem; }
  .header__list .header__item:last-child {
    margin-left: auto; }
  .header__list .header__item:last-child .header__link:first-child {
    margin-right: 2rem; }
  .header__list .header__item:last-child .header__link:last-child {
    font-size: 1.2rem;
    padding: 0.8rem 2rem; }
  .header__link:link, .header__link:visited {
    text-decoration: none;
    color: #9e9aa7;
    font-weight: 600;
    font-size: 1.1rem;
    transition: color 0.2s; }
  .header__link:hover {
    color: #35323e; }
  .header__btn {
    display: block;
    border: none;
    border-radius: 0;
    color: #35323e;
    background: none; }
  .header__icon {
    color: inherit;
    font-size: 3.5rem;
    cursor: pointer; }
  @media (min-width: 56.25em) {
    .header {
      justify-content: unset;
      gap: 3rem;
      align-items: center; }
      .header__nav {
        display: block;
        flex: 1; }
      .header__btn {
        display: none; } }

.hero {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 2.5rem 15rem 2.5rem;
  text-align: center;
  display: grid;
  row-gap: 4rem; }
  .hero__img {
    display: block;
    max-width: 150%; }
  .hero__text-box {
    max-width: 40rem;
    margin: 0 auto; }
  .hero__heading {
    color: #35323e;
    margin-bottom: 1rem; }
  .hero__paragraph {
    margin: 0 0 2.5rem 0; }
  .hero__btn {
    font-size: 1.5rem;
    display: inline-block; }
  @media (min-width: 37.5em) {
    .hero {
      margin-top: 2rem;
      text-align: unset;
      grid-template-columns: 3fr 2.7fr;
      column-gap: 2rem;
      align-items: center; }
      .hero__text-box {
        grid-column: 1/2;
        grid-row: 1/2;
        max-width: unset;
        margin: unset; }
      .hero__figure {
        grid-column: 2/3; } }
  @media (min-width: 50em) {
    .hero {
      column-gap: 7rem; } }
  @media (min-width: 62.5em) {
    .hero__heading {
      font-size: 4.5rem; } }

.about {
  background-color: #f1f3f5; }
  .about__content {
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 2.5rem 10rem 2.5rem;
    text-align: center; }
  .about__form {
    overflow: hidden;
    transform: translateY(-50%);
    background-color: #3b3054;
    padding: 2.5rem 1.5rem;
    display: grid;
    row-gap: 2.5rem;
    border-radius: 5px;
    background-image: url(../images/bg-shorten-mobile.svg);
    background-position: top right;
    background-repeat: no-repeat;
    position: relative; }
  .about__warning {
    color: #f46262;
    position: absolute;
    left: 2rem;
    top: 7.8rem;
    font-style: italic;
    font-size: 1rem;
    transform: translateY(-20rem);
    opacity: 0;
    transition: transform 0.3s opacity 0.4s; }
  .about__urls {
    margin-top: -7rem;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 10rem; }
  .about__url-box {
    border-radius: 5px;
    padding: 1.5rem;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr; }
  .about__url {
    border-bottom: 1px solid #eee;
    font-weight: 600;
    font-size: 1.3rem;
    padding-bottom: 1rem;
    color: #232127; }
  .about__url-shortened {
    padding-top: 1rem;
    color: #2acfcf;
    font-size: 1.3rem;
    padding-bottom: 1rem; }
  .about__btns-box {
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center; }
  .about__delete, .about__copy {
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: 700;
    cursor: pointer;
    padding: 1rem 0;
    width: 9rem;
    justify-self: center; }
  .about__delete {
    background-color: #f46262; }
    .about__delete:hover {
      background-color: rgba(244, 98, 98, 0.6); }
  .about__input {
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    display: block;
    padding: 1.25rem 1.25rem;
    border: none;
    border-radius: 5px;
    border: 2px solid transparent; }
    .about__input::placeholder {
      color: #9e9aa7; }
    .about__input:focus {
      outline: none;
      border: 2px solid #2acfcf; }
  .about__btn {
    border: none;
    padding: 1.45rem 0.7rem;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer; }
  .about__heading {
    margin-bottom: 2rem; }
  .about__subheading {
    margin: 0 auto 8rem auto; }
  .about__articles {
    display: grid;
    row-gap: 9rem; }
  .about__articles .about__article:not(:last-child)::after {
    content: "";
    background-color: #2acfcf;
    position: absolute;
    width: 7px;
    height: 5rem;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5rem; }
  .about__article {
    max-width: 45rem;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 0 1.25rem 3rem 1.25rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: relative; }
  .about__figure {
    background-color: #3b3054;
    display: inline-block;
    padding: 2rem;
    border-radius: 50%;
    transform: translateY(-50%); }
  .about__img {
    display: block;
    width: 3rem; }
  .about__hdg-tertiary {
    margin-top: -1.5rem;
    margin-bottom: 2rem; }
  .about__prg {
    color: #9e9aa7;
    line-height: 1.5;
    font-size: 1.3rem; }
  @media (min-width: 37.5em) {
    .about__form {
      grid-template-columns: 1fr minmax(min-content, 17rem);
      column-gap: 2rem;
      margin-bottom: 6rem;
      background-image: url(../images/bg-shorten-desktop.svg);
      background-position: center;
      background-size: cover; }
    .about__btn {
      padding: 1.3rem 0.7rem; }
    .about__input {
      padding: 1rem 1.25rem; }
    .about__urls {
      margin-top: -9rem; } }
  @media (min-width: 50em) {
    .about__form {
      padding: 3rem 3.5rem; }
    .about__articles .about__article:not(:last-child)::after {
      width: 5rem;
      height: 7px;
      left: unset;
      right: -5rem;
      transform: translateY(50%);
      bottom: 50%; }
    .about__articles .about__article:nth-child(2) {
      margin-top: 3rem; }
    .about__articles .about__article:last-child {
      margin-top: 6rem; }
    .about__articles {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 2rem;
      align-items: start; }
    .about__article {
      padding: 0 1.25rem 3rem 2.25rem;
      text-align: start; }
    .about__warning {
      left: 3.5rem; } }
  @media (min-width: 56.25em) {
    .about__url-box {
      grid-template-columns: 1fr repeat(3, min-content);
      align-items: center;
      text-align: left; }
    .about__btns-box {
      margin-top: 0; }
    .about__copy {
      margin-left: 4rem; }
    .about__url {
      padding: 0;
      border-bottom: none;
      margin-right: 2rem; }
    .about__url-shortened {
      padding: 0; } }

.about__form.warning .about__input {
  border: 2px solid #f46262; }

.about__form.warning .about__warning {
  transform: translate(0);
  opacity: 1; }

.about__form.warning .about__input::placeholder {
  color: #f46262; }

.copied {
  background-color: #3b3054; }

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  border-radius: 5px; }

.about__url.skeleton {
  width: 23rem;
  margin: 0 auto;
  height: 2rem;
  margin-bottom: 1rem; }
  @media (min-width: 43.75em) {
    .about__url.skeleton {
      width: 28vw;
      margin: 0; } }

.about__url-shortened.skeleton {
  width: 12rem;
  margin: 0 auto;
  height: 2rem; }
  @media (min-width: 43.75em) {
    .about__url-shortened.skeleton {
      width: 18vw; } }

@keyframes skeleton-loading {
  0% {
    background-color: #d1dbe0; }
  100% {
    background-color: #f0f3f5; } }

.boost {
  padding: 5rem 2.5rem;
  background-color: #3b3054;
  background-image: url(../images/bg-boost-desktop.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .boost__content {
    text-align: center; }
  .boost__hdg {
    color: #fff;
    margin-bottom: 2rem;
    font-size: 2.3rem; }
    @media (min-width: 25em) {
      .boost__hdg {
        font-size: 2.5rem; } }
  .boost__btn {
    border: none;
    display: inline-block;
    cursor: pointer;
    font-size: 1.5rem; }
